body {
  background-attachment: fixed;
  font-family: "Acme", sans-serif;
  font-size: 24px;
  background-image: url(../images/dogsonleash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  color: #fff;
  border-color: #e90c5c;
}

h1, h2, h3 {
  text-align: center;
  color: #fff;
  background-color: #e90c5c;
  display: block;
  box-sizing: border-box;
  border-radius: 30%;
}

h1 span, h2 span, h3 span, h4 span {
  padding: 5px;
  display: inline-block;
}

form {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

input[type="text"], select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  color: black;
}

select {
  margin-top: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #e90c5c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#availablePets {
  margin-top: 20px;
}

#restaurantForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#restaurantResults {
  margin-top: 20px;
}

#restaurantResults ul {
  list-style: none;
  padding: 0;
}

#restaurantResults li {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(97, 98, 98);
}


/* Media queries*/
@media screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
  }
  
  h2 {
    font-size: 32px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  button[type="submit"] {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 56px;
  }
  
  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 32px;
  }
  
  button[type="submit"] {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 64px;
  }
  
  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 36px;
  }
  
  button[type="submit"] {
    font-size: 18px;
  }
}