body {
  background-attachment: fixed;
  font-family: "Acme", sans-serif;
  font-size: 30px;
  background-image: url(../images/dogsonleash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  color: #fff;
  border-color: #e90c5c;
}

h1,
h2,
h3 {
  text-align: center;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: #e90c5c;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 25px;
}

h1 span,
h2 span,
h3 span,
h4 span {
  padding: 5px;
  display: inline-block;
}

.paw-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: #e90c5c;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 0px;
  line-height: 1;
  margin: 0 auto;
  max-width: 600px;
}

.box h1 {
  margin-bottom: 0;
}

.box h3 {
  margin-top: 0;
}

form {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

input[type="text"],
select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  color: black;
}

select {
  margin-top: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #e90c5c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.pure-control-group label[for="zipCode"] {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.pure-controls {
  margin-bottom: 0px;
}

#availablePets {
  margin-top: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  cursor: pointer;
}

#availablePets img {
  border-radius: 100%;
  justify-content: center;
  cursor: pointer;
}

.pet-card {
  margin: 5px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  background: linear-gradient(to left, rgb(97, 98, 98), #e90c5c);
  cursor: pointer;
  border-radius: 25px;
}

#previousSearches,
#restaurantSearch {
  float: right;
}

#previousZipCodes {
  margin: 0;
  padding: 0;
  list-style: none;
}

#restaurantResults {
  margin-top: 20px;
}

#restaurantResults ul {
  list-style: none;
  padding: 0;
}

#restaurantResults li {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgb(97, 98, 98), #e90c5c);
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: pointer;
}

#previousZipCodes li {
  text-align: center;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: #e90c5c;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20%;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to right, rgb(97, 98, 98), #e90c5c);
  text-align: center;
  justify-content: center;
  padding: 0px;
  opacity: 90%;
}  

.footer a {
  color: #fff;
}

/* Media queries*/
@media screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  button[type="submit"] {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }

  button[type="submit"] {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 36px;
  }

  button[type="submit"] {
    font-size: 18px;
  }
}
